div {
 background-color:grey;
 border-radius: 15px;
}

.todo-input {
    outline: none;
    background: black;
    border: 1px solid #33f8ff;
    border-radius: 10px;
    padding: 0.5rem 1.25rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 300px;
    color: #fff;

    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    box-shadow: 0 0 10px black;
  }
  
  .due-date-input {
    padding: 10px;
    margin: 10px 0;
    width: 200px;
    border-radius: 10px;
    border: 1px solid #33f8ff; 
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0 0 10px black;
    
  }

  .due-date-input:hover {
    cursor:pointer;
    background-color:  #796e6e38;
  }
  .due-date-input:focus {
    border-color: #aaa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .input-container span {
    margin-right: 0.5rem;
  }

  .button-submit {
    background-color: rgb(27, 163, 27);
    box-shadow: 0 0 10px black;
  }

  .button-cancel {
    background-color: rgb(250, 20, 20);
    box-shadow: 0 0 10px black;
    margin-right: 20px;
  }


  input[type="date"] {
    position: relative;
}

/* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}


  
  